*{
	padding:0;
	margin:0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*Direct style for nav tag*/
nav {
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	height: 80px;
	z-index: 1000;
	margin-top: 0;
	position: fixed;
	padding-top: 0px;
	background: none;
	transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}
.titleabout{
	text-align: center;
    color: #656464;
    font-weight: 700;
    margin-top: 20rem;
}

/*Menu bar logo and menu styles general*/
.logo,
.menu {
	position: absolute;
	z-index: 2000;
}

.logo {
	left: 0;
	top: -4px;
	width: 70px;
	height: 74px;
	padding: 0.4% 2%;
	text-align: left;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url(../images/huge.png);
	background-size: 81px 38px;
}

.menu {
	top: 0;
	height: 4px;
	width: 34px;
	text-align: left;
	margin: 5rem 2rem;
	background: #623AA2;
	transition: all 0.3s; 
}

#toggle{
	width: 100px;
	height: 100px;
	padding: 45px 40px;
	z-index: 1000;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	position: absolute;
	top: 0;
}


.menu:before, 
.menu:after{
	content: '';
	display: block;
	width: 34px;
	height: 4px;
	background: #623AA2;
	position: absolute;
	z-index: -1;
}

.navbar-color{
background-color: whitesmoke;
	padding: 15px 10px;
	z-index: 1000;
	width: 34px;
	height: 4px;
}
.menu:before{
	top: -8px;
}
.menu:after{
	top: 8px;
}

#toggle:hover .menu:before{
	top: -9px;
}
#toggle:hover .menu:after{
	top: 9px;
}

/*Al hacer click la hamburguesa deberia volverse X*/
.open .menu{
	background: none !important;
}
.open .menu:after{
	top: 0 !important;
	background: #fff !important;
	transform: rotate(45deg);
}
.open .menu:before{
	top: 0 !important;
	background: #fff !important;
	transform: rotate(-45deg);
}


nav.nav-background{
	top: 0px;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 1500;
	display: inline-block;
	background: none;
	position: absolute;
	transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}


nav.open .nav-background {
	opacity: 1;
	background-color: rgba(98,58,162,0.8) !important;
	transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}


nav.open{
	height: 100%;
	transition: none;
	-o-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
}

nav ul{
	top: -10%;
	padding: 70px 0 0 0;
	opacity: 0;
	width: 100%;
	text-align: center;
	visibility: hidden;
	/*display: table-cell;*/
	vertical-align: middle;
	transform: perspective(600px) rotateX(50deg);
	transition: all 0.3s cubic-bezier(0.7, 0.90, 0.30, 0.63);
	height: 100vh;
}
nav ul li{
	visibility: hidden;
}


nav ul li a{
	color: white;
	width: 100%;
	display: inline-block;
	padding: 40px 0 ;
	letter-spacing: 1rem;
	margin-top:5rem;

}

nav ul li a:hover{
	color: #623AA2;
	background-color: white;
	list-decoration:none;
	text-decoration:none;
}


nav.open ul{
	top: 0;
	opacity: 1;
	margin-top: 0;
	visibility: visible;
	transform: perspective(600px) rotateX(0deg);
}

nav.open ul li{
	color: rgba(250,250,250,0.6);
	font-size: 40px;
	visibility: visible !important;
}



/*decia nav.solid#logo .logo, cambiar 'solid' por 'open'*/
nav.open #logo .logo{
	background-image: url(../images/huge_white.png);
	background-size: 150px 150px;
}

.overflow-hidden{
	overflow:hidden;
}

/*HEADER*/
.profile{
	background-image: url(../img/fondoheader.jpg);
	background-size: cover;
	background-repeat: none;
	background-position: center center;
	width: 100%;
	height: 100vh;
	.nombre{
		margin-top: 8rem;
	}
	.title{
		color: white;
		font-size: 60px;
		margin-top: 20rem;
	}
	.subtitle{
		color: #623AA2;
		font-weight: 600;
	}
	.bajadaperfil{
		color:white;
		font-weight: 300;
	}
}
/*sobre mi*/
.aboutme{
	height:100vh;
	width:100%;
	.about1{
		background-color:  #623AA2;
		height: 100vh;
	}
	.abouttext{
		margin-top: 30rem;
	}
	.titleabout{
	text-align: center;
    color: #656464;
    font-weight: 700;
    margin-top: 20rem
	}
	.paboutme{
	color: #656464;
    margin: 2rem 5rem;
    font-weight: 300;
	}
}

/*Habilidades*/

.habilidades{
	height:100vh;
	width:100%;
	.habilidad-one{
		padding:50px;
	}
	.titleabout{
	text-align: center;
    color: #656464;
    font-weight: 700;
    margin-top: 10rem
	}
	.interes{
		margin-top: 5rem;
	}
	.interesp{
		margin-top: 3rem;
		font-weight: 300;
		color: #656464;
	}
	.habilidad-two{
		background-image: url(../img/flor.jpg);
		height: 100vh;
		background-size: cover;
		background-repeat: none;
		background-position: center center;
	}
}

.programas{
	height: 100vh;
	width:100%;
	background-color: white;
	.listaprograms{
		display: flex;
		list-style: none;
		list-decoration:none;
		justify-content: center;
		padding: 50px 0 0 300px;
		cursor: pointer;
	}
	.listaprograms li{
	margin-left:40px;
	cursor: pointer;
	}
	.listaprograms li a {
		justify-content: justify-content;
		cursor: pointer;
	}
	.colored{
		font-size: 60px;
		color:#623aa2;
		cursor: pointer;
	}
	.skills{
		background-image: url(../img/work1.jpg);
		height: 100vh;
		background-size: cover;
		background-repeat: none;
		background-position: center center;
	}
	.skilltitle{
		margin-top: 7rem;
	}
}

.work{
	background-color:whitesmoke;
	padding:50px 50px 10px 50px;
	width:100%;
	.titleport{
		margin-top: 10rem;
		font-weight: 700;
		color:  #623AA2;
	}
	.pwork{
		text-align: center;
	}
	.portfol{
		margin-left: 20%;
	}
}


.row img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.gallery ul li {
  float: left;
  margin: 0 0.87719%;
  overflow: hidden;
}


.gallery {
  padding: 40px 0 300px;
  position: relative;
  overflow: hidden;
}
.gallery ul {
  padding-top: 50px;
  position: relative;
}
.gallery ul li {
  margin-bottom: 20px;
  width: 23.24561%;
  position: relative;
}
.gallery ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.gallery ul li a:before {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 40%;
  left: 50%;
  margin: -14px 0 0 -16px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
  content: "";
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.gallery ul li a:hover:before {
  top: 50%;
  opacity: 1;
}
.gallery ul li a:after {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.gallery ul li a:hover:after {
  opacity: 1;
}

.port {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 100px;
  background: #ffffff;
  background-color: #fafafa;
  z-index: 103;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.port img {
  width: 50%;
}
.port .description {
  float: left;
  width: 50%;
  max-height: 100%;
  padding: 0 40px 40px;
  overflow: auto;
}
.port h1 {
  font-size: 35px;
  line-height: 2.3;
  padding: 0;
}
.port > * {
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.port.item_open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.port > * {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.close {
  width: 21px;
  height: 21px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
  position: absolute;
  right: 10px;
  top: -121px;
  opacity: 1;
  z-index: 1004;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.item_open .close {
  opacity: 1;
  top: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer{
	background-color: #623AA2;
	padding:50px;
	color:white;
	.logofooter{
	width:10rem;
	}
	.fa{
		color:white;
		font-size: 25px;
		display: inline-block;
	}
	.listfooter li{
	list-style:none;
	list-decoration:none;
	display:inline-block;
	margin-left: 20px;
	margin-top:20px;
	}
	.fa:hover{
		color:pink;
	}
}
